#
#  Copyright (c) 2012, ASUSTek, Inc. All Rights Reserved.
#  Written by chris chang chris1_chang@asus.com
#
#  Battery driver configuration
#
if ME560CG

menuconfig ME560CG_BATTERY
	bool "ME560CG Battery support"
        default y
	help
	  Say Y here. This option doesn't affect the kernel.
	  If unsure, say Y.

menuconfig ASUS_ENGINEER_MODE
	bool "ME570KL Battery Engineer Mode"
	default y
	help
	  Say Y here. This option doesn't affect the kernel.
	  If unsure, say Y.

config ME560CG_BATTERY_SMB347
	tristate "SMB347 battery charger driver"
	depends on I2C
        default y
	help
	  Say Y to enable support for the SMB347 switching mode based charger
	  and sysfs. The driver supports controlling charger-enable and
	  current limiting capabilities. The driver also lets the
	  SMB347 be operated as a slave device via the power supply
	  framework.

config ME560CG_BATTERY_BQ27520
	tristate "ASUS BQ27520 battery driver"
	depends on I2C
        default y
	help
	  Say Y here to enable support for batteries with BQ27520(I2C) chips.

endif

